body {
    width: 300px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

input, div#popup input {
    width: 190px;
    height: 24px;
}

button#add, button#save, button#cancel {
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}

ul {
    margin-top: 10px;
    margin: 0;
    padding: 0;
    width: 298px;
    list-style: none;
}

ul li {
    cursor: pointer;
    padding: 12px 8px 12px 25px;
    font-size: 15px;
    background: #ddd;
    margin: 5px 0 5px 0;
}

ul li:hover, button:hover {
    background: darkseagreen;
}

ul li.checked {
    padding: 12px 8px 12px 25px;
    background: white;
    text-decoration: line-through;
}

li button {
    padding: 8px;
    float: right;
    border: none;
}

li button.remove {
    background-color: red;
    color: white;
}

li button.edit {
    background-color: green;
    color: white;
    margin-left: 5px;
}

li button.remove:hover {
    border: 1px solid white;
}

li button.edit:hover {
    border: 1px solid white;
}

h2 {
    font-size: 13px;
}

h1 {
    text-align: center;
}

#popup {
    display: none;

}

div#popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 20% 25% 20% 35%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
